
/*Create a 4 column grid*/
.fieldset-layout{
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: auto;
}

.field{
    padding: 1.2em 0.25em 1.2em 1em;
}

/* SET EACH ELEMENT IN ITS POSITION FOR DESKTOP*/
/** FNAME LNAME
    MAIL  PHONE
        TEXT
       CONTACT */
#firstName {
    grid-column: 1 / span 2;
    
}

#lastName{
    grid-column: 3 / span 2;
    
}

#email-address {
    grid-column: 1 / span 2;
}

#phone{
    grid-column: 3 / span 2;
}

#message {
    grid-column-start: 1;
    grid-column-end: 5;
}

#submission-button {
    grid-column: 2 / span 2;
}


/*Change the form and stack the elements for smaller screen sizes*/
@media screen and (max-width: 510px){
    .fieldset-layout{
        grid-template-columns: auto;
        max-width: 80%;
    }

    /*Make every element stack in one column*/
    #firstName, #lastName, #email-address, #phone, #message, #submission-button  {
        grid-column: 1;
    }

}