.project-container{
    padding: 2em;
    background-color: yellow; 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    
}
.project {
    padding: 2em;
    width: 90%;
    
    background-color: blue;

}