

.resume-container {
    color: var(--color-light);
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 800px;
    gap: 1.5rem;
    margin-top: 10%;
    padding-top: 2rem;
    margin-inline: auto;
}

.resume-section {
    text-align: left;
    padding-inline: 1rem;
    border-left: 3px solid var(--color-accent);
}

.resume-section li {
    margin-block: 0.5rem;
}
.resume-section p {
    margin-block: 0.5rem;
}

.with-date {
    color: var(--color-accent);
    display: flex;
    justify-content: space-between;
}

.work-experience-section {
    margin-top: 0.8rem;
}

.skill-list {
    margin-top: 1.2rem;

}





