/* Import statements */
@import "./projects.css";
@import "./resume.css";
@import "./bottom-navbar-style.css";
@import "./contact.css";

/* Root variables */
:root {
    --color-dark: #000000;
    --color-light: #d1d1d1;
    --color-accent: #74F293;
    --color-variation: #F865B0;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-normal: 400;
}

/* Box-sizing and margin reset */
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0px;
}

/* Body styles */
body {
    margin: 0px;
    background-color: var(--color-dark);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-light);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure at least 100% of the viewport height */
}

h1, h2 {
    color: var(--color-accent);
    margin-bottom: 1rem;
}

b {
    color: var(--color-accent);
}

/* Image styles */
img {
    display: block;
    max-width: 100%;
}

/* Text highlight color */
.highlight-text-bright {
    color: var(--color-accent);
}

/* Central Element styles */
.central-element {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
}

/* Landing container styles */
.landing-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 15%;
}

/* Title container styles */
#title-container {
    text-align: justify;
    grid-column: 1 / span 3;
}

#title-container h1 {
    font-weight: var(--fw-normal);
    font-size: 5rem;
    margin: 0%;
}

/* Central text container styles */
#central-text-container {
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 2px solid var(--color-accent);
    text-align: justify;
    grid-column: 1 / span 3;
    grid-row: 2;
}

#central-text {
    margin-inline: auto;
}

/* Image container styles */
#image-container {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    grid-column: 4;
    grid-row: span 2; /* Make the image container span 2 rows */
    overflow: hidden; /* Ensure the image doesn't overflow its container */
    border-top: 3px solid var(--color-accent);
    border-right: 3px solid var(--color-accent);
    border-top-right-radius: 15px;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    object-position: left center; /* display only yhe portion of the image relevant*/
    border-radius: 15px;
}

/* Footer styles */
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* Courses button styles */
#courses_button {
    background-color: var(--color-accent);
    color: var(--color-dark);
    padding: 0.5em 1em;
    border-radius: 5px;
}

/* Media queries for smaller screens */
@media screen and (max-width: 800px) {
    .landing-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 15%;
    }

    #title-container {
        grid-column: 1 / span 3;
    }

    #central-text-container {
        padding-left: 2rem;
        padding-right: 2rem;
        border-left: 2px solid var(--color-accent);
        text-align: justify;
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    #image-container {
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        grid-column: 3;
        grid-row: 2;
        overflow: hidden;
        border-top: 3px solid var(--color-accent);
        border-right: 3px solid var(--color-accent);
        border-top-right-radius: 15px;
    }

    .project-container {
        padding: 0;
    }
}

@media screen and (max-width: 510px) {

    /*Change the grid to center the picture*/
    .landing-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-top: 15%;
    }

    #title-container {
        grid-column: 1 / span 2;
    }

    #central-text-container {
        padding-left: 2rem;
        padding-right: 2rem;
        border-left: 2px solid var(--color-accent);
        text-align: justify;
        grid-column: 1 / span 4;
        grid-row: 3;
    }

    /*center the picture*/
    #image-container {
        grid-column: 2 / span 2;
        grid-row: 2;
        margin: 0;
        border: 0;
        width: 50vw;
        height: 33vw;
        padding: 0;
        border-radius: 0%;
    }

    /*center the image inside the picture container*/
    #image-container img {
        object-position: center center;
    }

    form {
        margin-top: 1.5rem;
    }
}

/* Navbar container styles */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Name styles */
#name {
    order: 0; /* Move to the beginning of the flex container */
    margin-right: auto;
    padding-right: auto;
}

/* Burger menu styles */
.burger-menu {
    display: none;
    cursor: pointer;
    padding: 15px;
}

/* Bar styles for burger menu */
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* Change behaviour for the navbar at smaller screensizes, displaying the burger menu*/
@media screen and (max-width: 800px) {
    .bottom-navbar-container {
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        background-color: #333;
        display: none;
        top: 60px;
        left: 0;
    }

    .bottom-navbar-container.show-navbar {
        display: flex;
    }

    .bottom-navbar-element {
        text-align: center;
        width: 100%;
        padding: 15px;
    }

    #name {
        max-width: fit-content;
    }

    .burger-menu {
        display: block;
        z-index: 999;
    }
}


